.pageTitle{
    padding: calc(var(--section-padding-top) * 1.5) 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    
}

.pageTitle h1{
    font-size: 5rem;
    text-align: center;
    background: var(--gradient);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}