.helping{
    position: relative;
    padding: var(--section-padding-top) 10%;
    color: white;
}

.helping h2{
    font-size: 4.5rem;
    padding-right: 50%;
}

.helping p{
    width: 32%;
    margin: 3vw 0;
    font-size: 1.6rem;
    line-height: 180%;
}

/* SMALL LAPTOP STYLES */
@media only screen and (min-width: 991px) and (max-width: 1400px){

}

/* TABLET STYLES */
@media only screen and (min-width: 650px) and (max-width: 990px){
    .helping p{
        width: 40%;
    }
}

 /* MOBILE STYLES */
@media only screen and (max-width: 649px){
    
    .helping h2{
        font-size: 3.8rem;
        padding-right: 40%;
    }
    
    .helping p{
        width: 55%;
        margin: 4vw 0;
        font-size: 1.4rem;
    }
      
}